h1 {
  color: firebrick;
  text-align: center;
}

img#lose {
  width: 400px;
}
img#win {
  width: 400px;
}

.winorlose {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.homepage {
  width: 400px;
}

img {
  height: 300px;
}

.imgoverall {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: block;
  visibility: none;
}
