h1 {
  color: firebrick;
  text-align: center;
}

img#lose {
  width: 400px;
}
img#win {
  width: 400px;
}

.winorlose {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
img {
  max-height: 60vh;
}

.imgoverall {
  display: flex;
  justify-content: space-between;
  margin-top: 30vh;
}

.hidden {
  display: block;
  visibility: none;
}
